recursive-include example_booking/static *
recursive-include example_booking/templates *
recursive-include booking/static *
recursive-include booking/templates *

include LICENSE
include README
include requirements/*.txt
include *.txt

prune example/