{% if user.is_authenticated and booking_settings.display_rota %}
  {% for rota in b.rota %}
    {% if forloop.first %}
      <br />
    {% endif %}
    {% if booking_edit %}
      <a href="{% url 'booking.rota.update' rota.pk %}">
        <i class="fa fa-edit"></i>
        {{ rota.rota.name }}:
        {{ rota.name }}
      </a>
    {% else %}
      <strong>{{ rota.rota.name }}</strong>:
      {{ rota.name }}
    {% endif %}
    {% if booking_edit and user.is_staff %}
      &nbsp;
      <a href="{% url 'booking.rota.delete' rota.pk %}">
        <i class="fa fa-times"></i>
      </a>
      &nbsp;
    {% endif %}
  {% endfor %}
{% endif %}
