{# only display this section if the context contains 'booking_settings' #}
{% if booking_settings %}
  <small>
    [
      {% if booking_settings.display_permissions %}
        {% if b.permission.slug == 'staff' %}
          <span class="staff-text">
            <i class="fa fa-lock"></i>
        {% elif b.permission.slug == 'user' %}
          <span class="user-text">
            <i class="fa fa-user"></i>
        {% else %}
          <span class="public-text">
        {% endif %}
          {{ b.permission.slug }}
        </span>
        &nbsp;
        |
      {% endif %}
      {% if booking_settings.notes_user_staff %}
        &nbsp;
        <a href="{% url 'booking.update.notes' b.pk %}">
          <i class="fa fa-edit"></i>
          user/staff
        </a>
        &nbsp;
        |
      {% endif %}
      &nbsp;
      <a href="{% url 'booking.delete' b.pk %}">
        <i class="fa fa-times"></i>
      </a>
      &nbsp;
    ]
  </small>
{% endif %}
