<div class="pure-g">
  {% if user.is_staff %}
    <div class="pure-u-1 pure-u-md-1-4">
      <div class="l-box">
        <a href="{% url 'booking.list' %}">
          <i class="fa fa-calendar"></i>
          Bookings
        </a>
      </div>
    </div>
    {% if booking_settings.display_categories %}
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="l-box">
          <a href="{% url 'booking.category.list' %}">
            <i class="fa fa-calendar"></i>
            Categories
          </a>
        </div>
      </div>
    {% endif %}
    {% if booking_settings.display_locations %}
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="l-box">
          <a href="{% url 'booking.location.list' %}">
            <i class="fa fa-calendar"></i>
            Locations
          </a>
        </div>
      </div>
    {% endif %}
    {% if booking_settings.display_rota %}
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="l-box">
          <a href="{% url 'booking.rota.type.list' %}">
            <i class="fa fa-male"></i>
            Rota Type
          </a>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
