{% extends "booking/base.html" %}
{% load static %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock stylesheets_extra %}

{% block title %}
  Bookings
{% endblock title %}

{% block sub_heading %}
  {{ sub_heading }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'project.dash' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'booking.list' %}">
              <i class="fa fa-calendar"></i>
              Calendar
            </a>
          </li>
          {% if user.is_staff %}
            <li>
              <a href="{% url "booking.create" %}">
                <i class="fa fa-calendar-o"></i>
                New booking
              </a>
            </li>
          {% endif %}
          <li>
            <a href="{% url "booking.list.month" first_prev_month|date:"Y" first_prev_month|date:"m" %}">
              <i class="fa fa-calendar"></i>
              {{ first_prev_month|date:"M Y" }}
            </a>
          </li>
          <li>
            <a href="{% url "booking.list.month" first_next_month|date:"Y" first_next_month|date:"m" %}">
              <i class="fa fa-calendar"></i>
              {{ first_next_month|date:"M Y" }}
            </a>
          </li>
          {% if user.is_staff %}
            <li>
              <a href="{% url 'booking.location.list' %}">
                <i class="fa fa-calendar"></i>
                Locations
              </a>
            </li>
            <li>
              <a href="{% url 'booking.category.list' %}">
                <i class="fa fa-calendar"></i>
                Categories
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% for b in booking_list %}
    {% include 'booking/_booking.html' %}
  {% endfor %}
{% endblock content %}
