{% extends "booking/base.html" %}

{% block title %}
  Bookings
{% endblock title %}

{% block sub_heading %}
  {{ sub_heading }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'project.dash' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'booking.list' %}">
              <i class="fa fa-calendar"></i>
              Calendar
            </a>
          </li>
          {% if user.is_staff %}
            <li>
              <a href="{% url "booking.create" %}">
                <i class="fa fa-calendar-o"></i>
                New booking
              </a>
            </li>
          {% endif %}
          <li>
            <a href="{% url "booking.list.month" first_prev_month|date:"Y" first_prev_month|date:"m" %}">
              <i class="fa fa-calendar"></i>
              {{ first_prev_month|date:"M Y" }}
            </a>
          </li>
          <li>
            <a href="{% url "booking.list.month" first_next_month|date:"Y" first_next_month|date:"m" %}">
              <i class="fa fa-calendar"></i>
              {{ first_next_month|date:"M Y" }}
            </a>
          </li>
          {% if user.is_staff %}
            <li>
              <a href="{% url 'event.location.list' %}">
                <i class="fa fa-calendar"></i>
                Locations
              </a>
            </li>
            <li>
              <a href="{% url 'event.category.list' %}">
                <i class="fa fa-calendar"></i>
                Categories
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>From</th>
              <th>To</th>
              <th>Description</th>
              {% if user.is_staff %}
                <th>Delete</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for b in booking_list %}
              <tr valign="top">
                <td>
                  {{ b.pk }}
                </td>
                <td>
                  {% if not b.is_current %}<del>{% endif %}
                  {{ b.start_date|date:"D jS M Y" }}
                  {% if not b.is_current %}</del>{% endif %}
                </td>
                <td>
                  {% if not b.is_current %}<del>{% endif %}
                  {{ b.end_date|date:"D jS M Y" }}
                  {% if not b.is_current %}</del>{% endif %}
                </td>
                <td>
                  {% if b.is_current %}
                    <a href="{% url "booking.update" b.pk %}">
                      <i class="fa fa-edit"></i>
                      {{ b.title }}
                    </a>
                  {% else %}
                    {{ b.title }}
                  {% endif %}
                  {% if b.description %}
                    <br />
                    {{ b.description|urlize|linebreaksbr }}
                  {% endif %}
                </td>
                {% if user.is_staff %}
                  <td>
                    <a href="{% url "booking.delete" b.pk %}">
                      <i class="fa fa-times"></i>
                      <small>Delete</small>
                    </a>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
