{% extends 'booking/base.html' %}

{% block title %}
  {{ object.title }}
{% endblock title %}

{% block sub_heading %}
  {{ object.title }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if user.is_staff %}
            <li class="pure-menu-item">
              <a href="{% url 'project.dash' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="{% url 'booking.room.update' object.pk %}" class="pure-menu-link">
                <i class="fa fa-edit"></i>
                Edit Room
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="{% url 'booking.room.list' %}" class="pure-menu-link">
                <i class="fa fa-calendar"></i>
                Rooms
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% include 'booking/_room.html' with o=object %}
    </div>
  </div>
{% endblock content %}
