{% extends 'project/base.html' %}

{% block title %}
  Rota types
{% endblock title %}

{% block sub_heading %}
  Rota types
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'project.settings' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'booking.rota.type.create' %}">
              <i class="fa fa-male"></i>
              Create rota type
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Order</th>
            </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
              <tr valign="top">
                <td>
                  <a href="{% url 'booking.rota.type.update' o.pk %}">
                    <i class="fa fa-edit"></i>
                    {{ o.name }}
                  </a>
                </td>
                <td>
                  {{ o.order }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
