{% extends "booking/base.html" %}
{% load staticfiles %}

{% block sub_title %}
  Home
{% endblock sub_title %}

{% block sub_heading %}
  Home
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          {% if user.is_active %}
            <li>
              <a href="{% url 'booking.create' %}">
                <i class="fa fa-calendar"></i>
                New booking
              </a>
            </li>
            <li>
              <a href="{% url 'booking.list' %}">
                <i class="fa fa-list"></i>
                List bookings
              </a>
            </li>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

